html, body {
    height: 100%; /* Garantiza que el body use toda la altura de la ventana */
    margin: 0;    /* Elimina márgenes por defecto */
}

body {
    display: flex;
    flex-direction: column; /* Estructura en columna */
    min-height: 100vh;      /* Asegura que el contenedor principal ocupe al menos la altura de la ventana */
}

.container {
    flex-grow: 1; /* Hace que el contenido principal ocupe el espacio restante */
}

p, h3, h2 {
    text-align: center;
}

h2 {
    padding-bottom: 0.5em;
 }